name: conventional-pr
on:
  pull_request:
    branches:
      - main
      - dev
    types:
      - opened
      - edited
      - synchronize
permissions:
  contents: read
  pull-requests: read
  statuses: write
jobs:
  lint-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: amannn/action-semantic-pull-request@v6
        with:
          requireScope: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}